<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="t1000"
          class="ru.example.impls.robot.ModelT1000" >
        <constructor-arg value="silver" index="0" type="String"/>
        <constructor-arg value="2006" index="1" type="int"/>
        <constructor-arg value="true" index="2" type="boolean"/>

        <property name="hand" ref="toshibaHand"/>
        <property name="head" ref="toshibaHead"/>
        <property name="leg" ref="toshibaLeg"/>
    </bean>

    <bean id="sonyHand" class="ru.example.impls.sony.SonyHand"/>
    <bean id="sonyHead" class="ru.example.impls.sony.SonyHead"/>
    <bean id="sonyLeg" class="ru.example.impls.sony.SonyLeg"/>

    <bean id="toshibaHand" class="ru.example.impls.toshiba.ToshibaHand"/>
    <bean id="toshibaHead" class="ru.example.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaLeg" class="ru.example.impls.toshiba.ToshibaLeg"/>
</beans>